node-red/flow2.json
[
    {
        "id": "22201277.49849e",
        "type": "subflow",
        "name": "SaveChart",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "76c0eb2b.e93474"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 40,
                "wires": [
                    {
                        "id": "d2cf45e1.690ca8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "dd91469a.4a3e18",
        "type": "file",
        "z": "22201277.49849e",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 850,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "13f29cc7.db7ae3",
        "type": "file in",
        "z": "22201277.49849e",
        "name": "",
        "filename": "",
        "format": "utf8",
        "sendError": true,
        "x": 550,
        "y": 40,
        "wires": [
            [
                "d2cf45e1.690ca8"
            ]
        ]
    },
    {
        "id": "31a02600.5590fa",
        "type": "json",
        "z": "22201277.49849e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "dd91469a.4a3e18"
            ]
        ]
    },
    {
        "id": "d2cf45e1.690ca8",
        "type": "json",
        "z": "22201277.49849e",
        "name": "",
        "x": 710,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "76c0eb2b.e93474",
        "type": "function",
        "z": "22201277.49849e",
        "name": "LoadSave",
        "func": "var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    \n    var loaded=context.get(strSafe)||0;\n    msg.filename =\"c:/users/fatman/.node-red/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        // node.log(\"loading \"+strSafe);\n        // node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        // node.log(\"saving \"+strSafe);\n        // node.warn(\"Writing \" +strSafe + '  ' +  msg.filename);\n    }\n    return msg;    \n}\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "de3b42f4.8b41"
            ]
        ]
    },
    {
        "id": "de3b42f4.8b41",
        "type": "switch",
        "z": "22201277.49849e",
        "name": "Load data",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "load",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 60,
        "wires": [
            [
                "13f29cc7.db7ae3"
            ],
            [
                "74eaa40d.2b6c5c"
            ]
        ]
    },
    {
        "id": "ac81f409.479138",
        "type": "debug",
        "z": "22201277.49849e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "74eaa40d.2b6c5c",
        "type": "function",
        "z": "22201277.49849e",
        "name": "",
        "func": "var mxd = 100\nvar datas=msg.payload[0].data;\nfor(var idt=0;idt<datas.length;idt++){\n    data=datas[idt];\n    var newData = [];\n    if(data.length<=mxd){\n        newData=data;\n    }\n    else{\n        var step = parseInt(data.length/mxd);\n        \n        var flag=false;\n        for(var i=0;i<data.length;i+=step){\n            if(i==data.length-1){\n                flag=true;\n            }\n            newData[newData.length] = data[i];\n        }\n        if(!flag){\n            newData[newData.length-1]=data[data.length-1];\n        }\n    }\n    datas[idt] = newData;\n    \n    \n}\nmsg.payload[0].data = datas;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "31a02600.5590fa"
            ]
        ]
    },
    {
        "id": "86acca84.f6e628",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93c5c982.c54f68",
        "type": "mqtt out",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "dae8691.3a39c98",
        "x": 1290,
        "y": 820,
        "wires": []
    },
    {
        "id": "8470e959.435748",
        "type": "mqtt in",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "/DL_temp",
        "qos": "2",
        "datatype": "json",
        "broker": "dae8691.3a39c98",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "e384182c.5cb2c8"
            ]
        ]
    },
    {
        "id": "71d490cd.51a34",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură sol 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "e384182c.5cb2c8",
        "type": "switch",
        "z": "86acca84.f6e628",
        "name": "",
        "property": "payload.i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "28-99-79-79-97-19-03-83",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-39-94-94-97-10-03-55",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3A-94-94-97-09-03-9A",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "a5305e6f.1c0ed"
            ],
            [
                "732ea66b.c25808"
            ],
            [
                "97411e83.27da"
            ]
        ]
    },
    {
        "id": "a5305e6f.1c0ed",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "71d490cd.51a34",
                "7720d515.01617c"
            ]
        ]
    },
    {
        "id": "732ea66b.c25808",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "616ed90a.a0b908",
                "372f2a8c.a82a66"
            ]
        ]
    },
    {
        "id": "97411e83.27da",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "f0b0d80d.4e1838",
                "ca33c033.f358d"
            ]
        ]
    },
    {
        "id": "616ed90a.a0b908",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură sol 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "f0b0d80d.4e1838",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură sol 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "c04c10a3.6466d",
        "type": "mqtt in",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "/DL_temp_humid",
        "qos": "2",
        "datatype": "json",
        "broker": "dae8691.3a39c98",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "b8549711.983b48"
            ]
        ]
    },
    {
        "id": "b8549711.983b48",
        "type": "switch",
        "z": "86acca84.f6e628",
        "name": "",
        "property": "payload.i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "859953fb.7e378",
                "629514bf.4f080c"
            ],
            [
                "10b9308a.73707f",
                "e8837997.535798"
            ],
            [
                "a4cf5d46.bf252",
                "6b39895c.93c388"
            ]
        ]
    },
    {
        "id": "859953fb.7e378",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "dce64677.f7ff08",
                "b3297b6d.972848"
            ]
        ]
    },
    {
        "id": "629514bf.4f080c",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "humid",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "33a7b51d.a109da",
                "78f05a31.efcfe4"
            ]
        ]
    },
    {
        "id": "dce64677.f7ff08",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 4,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură aer 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "33a7b51d.a109da",
        "type": "ui_level",
        "z": "86acca84.f6e628",
        "group": "49158184.e5faa",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "umiditate aer 1",
        "label": "Umiditate aer 1 - ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "10b9308a.73707f",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "65f76d3c.34b894",
                "d36d7178.0cd7f"
            ]
        ]
    },
    {
        "id": "e8837997.535798",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "humid",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "6209c9df.992dd8",
                "88392c88.38972"
            ]
        ]
    },
    {
        "id": "65f76d3c.34b894",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 5,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură aer 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "6209c9df.992dd8",
        "type": "ui_level",
        "z": "86acca84.f6e628",
        "group": "49158184.e5faa",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "umiditate aer 2",
        "label": "Umiditate aer 2 - ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "a4cf5d46.bf252",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "43e07918.e9b548",
                "d6e1200d.512bc"
            ]
        ]
    },
    {
        "id": "6b39895c.93c388",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "humid",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "6b1e1088.24cb6",
                "42b51f65.b56e"
            ]
        ]
    },
    {
        "id": "43e07918.e9b548",
        "type": "ui_gauge",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "49158184.e5faa",
        "order": 6,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatură aer 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#03cdf1",
            "#2db80a",
            "#f40d0d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "6b1e1088.24cb6",
        "type": "ui_level",
        "z": "86acca84.f6e628",
        "group": "49158184.e5faa",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "umiditate aer 3",
        "label": "Umiditate aer 3 - ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "b8f37f20.61123",
        "type": "ui_chart",
        "z": "86acca84.f6e628",
        "d": true,
        "name": "ds18 temp",
        "group": "99603fbc.1cd58",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatură sol",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#b51e1e",
            "#4dac35",
            "#3f36d8",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ca33c033.f358d",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sol 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "5f0f7810.c4ad18",
                "b8f37f20.61123"
            ]
        ]
    },
    {
        "id": "372f2a8c.a82a66",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sol 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "5f0f7810.c4ad18",
                "b8f37f20.61123"
            ]
        ]
    },
    {
        "id": "7720d515.01617c",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sol 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "5f0f7810.c4ad18",
                "b8f37f20.61123"
            ]
        ]
    },
    {
        "id": "911b89a2.9790b8",
        "type": "mqtt in",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "/DL_report_period",
        "qos": "2",
        "datatype": "json",
        "broker": "dae8691.3a39c98",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "cfe1ea53.e5a9c8"
            ]
        ]
    },
    {
        "id": "cfe1ea53.e5a9c8",
        "type": "ui_numeric",
        "z": "86acca84.f6e628",
        "name": "",
        "label": "Interval ESP32 (secunde)",
        "tooltip": "",
        "group": "26254bed.7b1644",
        "order": 1,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "/setParameterReportPeriod",
        "format": "{{value}}",
        "min": "1",
        "max": "3600",
        "step": "1",
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "93c5c982.c54f68"
            ]
        ]
    },
    {
        "id": "b1cecdde.b733f",
        "type": "ui_button",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "e93fbaad.0be2e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset ESP32",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "doReset",
        "payloadType": "global",
        "topic": "/reset",
        "x": 1040,
        "y": 960,
        "wires": [
            [
                "93c5c982.c54f68"
            ]
        ]
    },
    {
        "id": "623b6838.c6a5a8",
        "type": "ui_switch",
        "z": "86acca84.f6e628",
        "name": "",
        "label": "Config ESP32",
        "tooltip": "",
        "group": "26254bed.7b1644",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "80015786.5c9ce8"
            ]
        ]
    },
    {
        "id": "20d451e7.22676e",
        "type": "ui_ui_control",
        "z": "86acca84.f6e628",
        "name": "",
        "events": "all",
        "x": 1060,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "80015786.5c9ce8",
        "type": "switch",
        "z": "86acca84.f6e628",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "9d78c01.cb9ec4"
            ],
            [
                "89bc6453.48a888"
            ]
        ]
    },
    {
        "id": "89bc6453.48a888",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Răsaduri_Reset\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 680,
        "wires": [
            [
                "20d451e7.22676e"
            ]
        ]
    },
    {
        "id": "9d78c01.cb9ec4",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Răsaduri_Reset\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 640,
        "wires": [
            [
                "20d451e7.22676e",
                "7e53ff89.d54c"
            ]
        ]
    },
    {
        "id": "6e0909dd.573a68",
        "type": "inject",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "623b6838.c6a5a8"
            ]
        ]
    },
    {
        "id": "be7c47b3.8766e8",
        "type": "ui_chart",
        "z": "86acca84.f6e628",
        "d": true,
        "name": "humidity",
        "group": "99603fbc.1cd58",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Umiditate aer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1440,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e1200d.512bc",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 480,
        "wires": [
            [
                "f13e18c.305a8e8",
                "5f0f7810.c4ad18"
            ]
        ]
    },
    {
        "id": "d36d7178.0cd7f",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "f13e18c.305a8e8",
                "5f0f7810.c4ad18"
            ]
        ]
    },
    {
        "id": "b3297b6d.972848",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "f13e18c.305a8e8",
                "5f0f7810.c4ad18"
            ]
        ]
    },
    {
        "id": "78f05a31.efcfe4",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "be7c47b3.8766e8",
                "dd899e8d.774e5"
            ]
        ]
    },
    {
        "id": "88392c88.38972",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 420,
        "wires": [
            [
                "be7c47b3.8766e8",
                "dd899e8d.774e5"
            ]
        ]
    },
    {
        "id": "42b51f65.b56e",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aer 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 520,
        "wires": [
            [
                "be7c47b3.8766e8",
                "dd899e8d.774e5"
            ]
        ]
    },
    {
        "id": "f13e18c.305a8e8",
        "type": "ui_chart",
        "z": "86acca84.f6e628",
        "d": true,
        "name": "dht22 temp",
        "group": "99603fbc.1cd58",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatură aer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#e8c500",
            "#00dddd",
            "#ed0fff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f27bcd7f.c7aeb",
        "type": "debug",
        "z": "86acca84.f6e628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2450,
        "y": 300,
        "wires": []
    },
    {
        "id": "adf196a1.859818",
        "type": "function",
        "z": "86acca84.f6e628",
        "name": "Prepare email temp",
        "func": "\n//subject\nvar newTopic=\"Temp Alert sensor:\" + msg.topic + \" temp: \" + msg.payload;\n\n//content\nvar newPayload=\"Temp Alert sensor:\" + msg.topic + \" temp: \" + msg.payload;\n\nmsg.topic=newTopic;\nmsg.payload=newPayload;\n//msg.to=\"fatmanfatmanfatman@gmail.com\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 220,
        "wires": [
            [
                "c42cc0c3.d5b63"
            ]
        ]
    },
    {
        "id": "faef1b4a.cfefd8",
        "type": "e-mail",
        "z": "86acca84.f6e628",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "alarmatmp@gmail.com",
        "dname": "fowueedqmolakorl",
        "x": 2150,
        "y": 300,
        "wires": []
    },
    {
        "id": "5f0f7810.c4ad18",
        "type": "function",
        "z": "86acca84.f6e628",
        "name": "filter temp range",
        "func": "if(msg.payload<-10 || msg.payload>30){\nreturn msg;    \n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1440,
        "y": 220,
        "wires": [
            [
                "adf196a1.859818"
            ]
        ]
    },
    {
        "id": "c42cc0c3.d5b63",
        "type": "trigger",
        "z": "86acca84.f6e628",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1910,
        "y": 220,
        "wires": [
            [
                "f27bcd7f.c7aeb",
                "faef1b4a.cfefd8"
            ]
        ]
    },
    {
        "id": "dd899e8d.774e5",
        "type": "function",
        "z": "86acca84.f6e628",
        "name": "filter humid range",
        "func": "if(msg.payload>50){\nreturn msg;    \n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "8469913c.151d9"
            ]
        ]
    },
    {
        "id": "8469913c.151d9",
        "type": "function",
        "z": "86acca84.f6e628",
        "name": "Prepare email humid",
        "func": "\n//subject\nvar newTopic=\"Humidity Alert sensor:\" + msg.topic + \" humid: \" + msg.payload;\n\n//content\nvar newPayload=\"Humidity Alert sensor:\" + msg.topic + \" humid: \" + msg.payload;\n\nmsg.topic=newTopic;\nmsg.payload=newPayload;\n//msg.to=\"fatmanfatmanfatman@gmail.com\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1700,
        "y": 380,
        "wires": [
            [
                "362a60e0.5e5d1"
            ]
        ]
    },
    {
        "id": "362a60e0.5e5d1",
        "type": "trigger",
        "z": "86acca84.f6e628",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1910,
        "y": 380,
        "wires": [
            [
                "f27bcd7f.c7aeb",
                "faef1b4a.cfefd8"
            ]
        ]
    },
    {
        "id": "c58a56ef.ce71e8",
        "type": "subflow:22201277.49849e",
        "z": "86acca84.f6e628",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "92718cc4.11149",
        "type": "ui_text_input",
        "z": "86acca84.f6e628",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "e93fbaad.0be2e8",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "/setPassword",
        "x": 860,
        "y": 1260,
        "wires": [
            [
                "d0a33b76.0d8cb8"
            ]
        ]
    },
    {
        "id": "5167000d.e87cf",
        "type": "ui_text_input",
        "z": "86acca84.f6e628",
        "name": "",
        "label": "Broker IP",
        "tooltip": "",
        "group": "e93fbaad.0be2e8",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "/setBrokerIP",
        "x": 860,
        "y": 1340,
        "wires": [
            [
                "bea74bcf.6f8fb8"
            ]
        ]
    },
    {
        "id": "28f82bd8.b494d4",
        "type": "ui_button",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "e93fbaad.0be2e8",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Set pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/setPassword",
        "x": 1020,
        "y": 1300,
        "wires": [
            [
                "5d6d45c3.fcf1fc"
            ]
        ]
    },
    {
        "id": "1e75a2d0.b6f5fd",
        "type": "ui_button",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "e93fbaad.0be2e8",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Set Broker IP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/setBrokerIP",
        "x": 1030,
        "y": 1380,
        "wires": [
            [
                "45d3914.21a567"
            ]
        ]
    },
    {
        "id": "b63cc301.ac65f",
        "type": "ui_button",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "e93fbaad.0be2e8",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Set SSID",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkcyan",
        "icon": "signal_wifi_3_bar",
        "payload": "{msg.payload}",
        "payloadType": "str",
        "topic": "/setSSID",
        "x": 1020,
        "y": 1220,
        "wires": [
            [
                "6c630f44.4c2c4"
            ]
        ]
    },
    {
        "id": "cb9038c7.e689c8",
        "type": "mqtt in",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "/config",
        "qos": "2",
        "datatype": "auto",
        "broker": "dae8691.3a39c98",
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "686cc11f.005e9"
            ]
        ]
    },
    {
        "id": "62f16f8.017889",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ssid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6c630f44.4c2c4",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ssid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1220,
        "wires": [
            [
                "75671108.8b99",
                "c92ea7d6.9d51a8"
            ]
        ]
    },
    {
        "id": "d0a33b76.0d8cb8",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6d45c3.fcf1fc",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "password",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1300,
        "wires": [
            [
                "75671108.8b99",
                "c92ea7d6.9d51a8"
            ]
        ]
    },
    {
        "id": "45d3914.21a567",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "brokerip",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1380,
        "wires": [
            [
                "75671108.8b99",
                "c92ea7d6.9d51a8"
            ]
        ]
    },
    {
        "id": "bea74bcf.6f8fb8",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "brokerip",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "7e53ff89.d54c",
        "type": "ui_button",
        "z": "86acca84.f6e628",
        "name": "",
        "group": "26254bed.7b1644",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "get config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/getConfig",
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "93c5c982.c54f68"
            ]
        ]
    },
    {
        "id": "686cc11f.005e9",
        "type": "json",
        "z": "86acca84.f6e628",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 1260,
        "wires": [
            [
                "4045babb.5c82a4"
            ]
        ]
    },
    {
        "id": "75671108.8b99",
        "type": "debug",
        "z": "86acca84.f6e628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "4045babb.5c82a4",
        "type": "switch",
        "z": "86acca84.f6e628",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.ssid!=\"\"",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "payload.password!=\"\"",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "payload.brokerIP!=\"\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 1260,
        "wires": [
            [
                "61e5aeaa.2c598"
            ],
            [
                "1cbefc7b.213244"
            ],
            [
                "3ea30a88.b22ae6"
            ]
        ]
    },
    {
        "id": "61e5aeaa.2c598",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ssid",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1180,
        "wires": [
            [
                "14b30dc7.6903b2"
            ]
        ]
    },
    {
        "id": "1cbefc7b.213244",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.password",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "92718cc4.11149"
            ]
        ]
    },
    {
        "id": "3ea30a88.b22ae6",
        "type": "change",
        "z": "86acca84.f6e628",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.brokerIP",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1340,
        "wires": [
            [
                "5167000d.e87cf"
            ]
        ]
    },
    {
        "id": "c92ea7d6.9d51a8",
        "type": "mqtt out",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "dae8691.3a39c98",
        "x": 1510,
        "y": 1300,
        "wires": []
    },
    {
        "id": "14b30dc7.6903b2",
        "type": "ui_text_input",
        "z": "86acca84.f6e628",
        "name": "",
        "label": "SSID",
        "tooltip": "",
        "group": "e93fbaad.0be2e8",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "/setSSID",
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "62f16f8.017889"
            ]
        ]
    },
    {
        "id": "b27e08e0.1519f8",
        "type": "inject",
        "z": "86acca84.f6e628",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "623b6838.c6a5a8"
            ]
        ]
    },
    {
        "id": "dae8691.3a39c98",
        "type": "mqtt-broker",
        "z": "",
        "name": "asus",
        "broker": "192.168.1.12",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "49158184.e5faa",
        "type": "ui_group",
        "z": "",
        "name": "Temperatură și umiditate",
        "tab": "bbd6d0e9.dcb56",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "99603fbc.1cd58",
        "type": "ui_group",
        "z": "",
        "name": "Grafic 24h",
        "tab": "bbd6d0e9.dcb56",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "26254bed.7b1644",
        "type": "ui_group",
        "z": "",
        "name": "Configurație",
        "tab": "bbd6d0e9.dcb56",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e93fbaad.0be2e8",
        "type": "ui_group",
        "z": "",
        "name": "Reset",
        "tab": "bbd6d0e9.dcb56",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bbd6d0e9.dcb56",
        "type": "ui_tab",
        "z": "",
        "name": "Răsaduri",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]